<div class="user-wrapper">
  <div class="grid-container">
    <div class="single-user-tile item-{{user.id}}" *ngFor="let user of users" 
    routerLink="/details/{{user.id}}">
      <!-- <img class="profile_pic" src="../../assets/img/{{user.picture}}.jpg"> -->
      <img  class="profile_pic" src="../../assets/img/1.jpg">

      <div class="info-lynch">
        <h1 routerLink="">{{user.shortName}}</h1>
        <div class="border"></div>
        <p>Let's Know about me!!</p>
        <div class="button">
          <a class="click">BIO</a>
        </div>
      </div>
    </div>

  </div>
</div>